<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="style.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue"></script>
    <!--get the latest version of Vue.js.-->
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="cart">Cart({{cart}})</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image" />
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <ul>
              <!--here details specify what we want to loop over and detail specify alias for the element at a given time of that iteration-->
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <ul>
              <li v-for="(size, index) in sizes" :key="index">{{ size }}</li>
            </ul>
            <div v-for="variant in variants" :key="variant.id" @mouseover = "updateImage(variants.image)">
              {{ variant.color }}
            </div>
            <!--add event handler on click-->
            <!-- <button class="button" v-on:click="addToCart">Add to Cart</button> -->
            <button class="button" @click="addToCart">Add to Cart</button>

          </div>
        </div>
      </div>
    </div>
    <!-- Import App -->
    <script src="main.js"></script>
    <!-- Mount App -->
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
