<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="style.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue"></script>
    <!--get the latest version of Vue.js.-->
  </head>
  <body>
    <div id="app">
      <div class="product-img">
        <!-- <img v-bind:src="image" />-->
        <img :src="image"/>
        <!--v-bind is a directive which dynamically bind an attritube to expression, here attribute is src and expression is image-->
      </div>
      <div class="product-info">
        <h1>{{product}}</h1>
        <!-- it refers to the product of the vue-data, it ask what the value of product-->
        <p v-show="true">On Sale</p>
        <p v-if="productItem > 10">In Stock</p>
        <p v-if="productItem <= 10 && productItem > 0">HUrry Up! only few lefts</p>
        <p v-else>Out of Stock</p>
        <!-- <p v-show>In Stock</p> Used for toggling elements visibility -->
      </div>
    </div>
    <!-- Import App vue -->
    <script src="main.js"></script>
    <!--Mount App:- Mount the app we have created in js to our DOM-->
    <script>
      const mountedApp = app.mount("#app"); // it mount the vue on html tags
      // mountedApp.product = 'shoessss'
    </script>
  </body>
</html>
